@model ASF.UI.WbSite.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<div class="container">
    <h2>@ViewBag.Title</h2>
    <div class="col-lg-6 col-lg-offset-3">
        <a class="btn btn-warning btn-lg" href=@Url.Action("ChangePassword", "Manage")>@ASF.UI.WbSite.Resources.MyText.ChangePassword</a>
        <a class="btn btn-warning btn-lg" href=@Url.Action("ChangePassword", "Manage")>@ASF.UI.WbSite.Resources.MyText.PersonalInfo</a>
        <a class="btn btn-warning btn-lg" href=@Url.Action("ChangePassword", "Manage")>@ASF.UI.WbSite.Resources.MyText.Orders</a>
    </div>

</div>